{% load staticfiles %}
{% load get_one_l %}


<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head><body>

<div class="navbar navbar-default navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://vary10.pythonanywhere.com/home"><span>Brand</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">Sign in</a>
                        </li>
                        <li>
                            <a href="#">Sign up</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="http://vary10.pythonanywhere.com/cart">Cart</a>
                        </li>
                        <li>
                            <a href="http://vary10.pythonanywhere.com/profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% for item in items|get_one_l:2 %}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="http://vary10.pythonanywhere.com/info">
                                            <img src="http://vary10.pythonanywhere.com/{{ item.image.url }}" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="http://vary10.pythonanywhere.com/info">
                                        <h2>{{ item.title }}</h2>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-12">
                                            <div class="col-md-5">
                                                <h3>{{ item.cpu }} Rub</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <i class="fa fa-3x fa-fw fa-times">
                                        </i>
                                    </div>
                                    <div class="col-md-2">
                                        <h3>2</h3>
                                    </div>
                                    <div class="col-md-2">
                                        <h1>subtotal</h1>
                                    </div>
                                    <div class="col-md-1">
                                        <a href="#">
                                            <i class="fa fa-3x fa-fw fa-trash-o">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Total</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <a class="btn btn-primary">Check out</a>
          </div>
        </div>
      </div>
    </div>
    </body></html>