{% load staticfiles %}
{% load get_by_index %}


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>

    {% include "navbar.htm" %}
    {% for item in items|get_by_index:"-2" %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="/info" /{{ item.id }}>
                                        <img src="{{ item.image.url }}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a href="/info/{{ item.id }}">
                                        <h2>{{ item.title }}</h2>
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <div class="col-md-12">
                                        <div class="col-md-5">
                                            <h3>{{ item.cpu }} Rub</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-3x fa-fw fa-times">
                                        </i>
                                </div>
                                <div class="col-md-2">
                                    <h3>2</h3>
                                </div>
                                <div class="col-md-2">
                                    <h1>subtotal</h1>
                                </div>
                                <div class="col-md-1">
                                    <a href="#">
                                        <i class="fa fa-3x fa-fw fa-trash-o">
                                            </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Total</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>You are to pay:</h3>
                        <p>{{ paypal_dict.amount }} {{ paypal_dict.currency_code }}</p>
                        <p>Invoice: {{ paypal_dict.invoice }}</p>
                        <br />
                        <p>Pay with PayPal:</p>
                        {{ form.render }}
                    <a href="/payment/cart/"><a class="btn btn-primary">Check out</a></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>