{% extends "base.html" %}
{% load get_rows_range %} {% load get_slice %} {% load get_by_index %} {% load get_every_3 %} {% load sep %}
{% block title %}
<title>home</title>
{% endblock %}
{% block more %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div id="fullcarousel-example" data-interval="false" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            {% for item in items|get_by_index:"-3" %}
            <div class="active item">
                <img class="img-responsive center-block" src="{{ item.image.url }}" alt="Item image">
                <!--<img src="{{ item.image.url }}" alt="item image" class="img-thumbnail">-->
                <a href="/info/{{ item.title|sep }}">
                    <div class="carousel-caption">
                        <h2>{{ item.title }}</h2>
                        {{ item.description|linebreaks }}
                    </div>
                </a>
            </div>
            {% endfor %}

            {% for item in items|get_slice:"-2::" %}
            <div class="item">
                <img class="img-responsive center-block" src="{{ item.image.url }}" alt="Item image">
                <a href="/info/{{ item.title|sep }}">
                    <div class="carousel-caption">
                        <h2>{{ item.title }}</h2>
                        {{ item.description|linebreaks }}
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
        <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
        <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>

    <script>
        $(document).ready(function () {
            $("button.add").click(function () {
                var current_button = $(this);
                $.ajax({
                    url: "/add-to-cart/",
                    type: "GET",
                    data: {
                        "item": $(this).attr('id')
                    },
                    success: function (data) {
                        current_button.replaceWith(data);
                    }
                });
            });
        });
    </script>

    {% for i in items|get_rows_range %}
    <div class="section">
        <div class="container">
            <div class="row">

                {% for item in items|get_every_3:i %}
                    {% include "item_card.htm" %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
