{% load staticfiles %}
{% load get_by_index %}

<html>

<head>
    <title>item view</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    {% include "navbar.htm" %}

    <div class="section section-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ item.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ item.image.url }}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h1>Backers</h1>
                    <h3>Total</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.semper nisi.</p>
                    <a href=#><a class="btn btn-primary">Click me</a></a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Heading</h1> {{ item.description|linebreaks }}
                </div>
                <a href="/profile">
                    <div class="col-md-2">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    </div>
                    <div class="col-md-3">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>

</html>