{% extends "base.html" %}
{% load get_by_index %}

{% block title %}
<title>item</title>
{% endblock %}

{% block content %}

    <div class="section section-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ item.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ item.image.url }}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h1>Backers</h1>
                    <h3>Total</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.semper nisi.</p>
                    <a href=#><a class="btn btn-primary">Click me</a></a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Heading</h1> {{ item.description|linebreaks }}
                </div>
                <a href="/profile">
                    <div class="col-md-2">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    </div>
                    <div class="col-md-3">
                        <h1>Heading</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}