{% extends "base.html" %}
{% load get_rows_range %}
{% load get_slice %}
{% load get_every_3 %}

{% block title %}
<title>profile</title>
{% endblock %}

{% block content %}
    <div class="section section-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                </div>
                <div class="col-md-6" id="profile">
                    <h1>A title</h1>
                    <h3>A subtitle</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                        pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                        justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                        Vivamus elementum semper nisi.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>You offered</h1>
                    <h2><a href=/create/>Add</a></h2>g
                </div>
            </div>
        </div>
    </div>
    {% for i in my_items|get_rows_range %}
    <div class="section">
        <div class="container">
            <div class="row">
                {% for item in my_items|get_every_3:i %}
                    {% include "item_card.htm" %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>You backed
                            <br>
                        </h1>
                </div>
            </div>
        </div>
    </div>
    {% for i in bought_items|get_rows_range %}
    <div class="section">
        <div class="container">
            <div class="row">
                {% for item in bought_items|get_every_3:i %}
                    {% include "item_card.htm" %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}